.note-card {
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: white;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(5px);
  }

  .note-card-title {
    font-weight: 700;
  }
  .note-card-content {
    margin-top: 10px;
  }
}
