.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url("https://source.unsplash.com/random/1600x1900/?wallpaper");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mid-section {
  flex-grow: 1;
  width: 100%;
  min-height: 0;
}
