<div class="bottom-section">
  <a routerLink="bookmarks" routerLinkActive="active" class="bookmarks-tab tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">bookmarks</i>
    </div>
    <!--  -->
  </a>
  <a routerLink="todos" routerLinkActive="active" class="checks-tab tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">check</i>
    </div>
  </a>
  <!--  -->
  <a routerLink="notes" routerLinkActive="active" class="notes-tab tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">notes</i>
    </div>
  </a>
</div>
